// COLOR
$red: #d0271d;
$yellow: #f19001;
$blue: #342E8C;
$indigo:#173863;
$transblue: #342e8c05;
$transbluedarker: #342e8c11;
$transbluedark: #342e8c2d;
$transyellow: #f1900103;
$transred: #d0271d05;
$lightgray: 	#E5E4E2;
