.video_container {
	&-top {
		width: 100%;
    height: 100%;
	}
}

.section-top_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
